h1 {
  color:white;
}

body {
  background-color: tan;
  color: white;
}

.dog {
   text-decoration: underline;
   color: green;
}

.cat {
text-decoration: underline;
color: red;
}
.fun {
text-decoration: overline;
color: pink;
}
a {
  color:orange;
}

.purpleblue{
  background-color: purple;
  color:blue;
}
